<h1 align="center"> <%=@title%> </h1>

<div class="container">
  <p align= "center">

      <%= @post.body %><br>
      <br>
      <br>
      <br>

      <% @tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
      </p>
</div>

    <% if  @post.user_id == session[:id] %>
<div>
      <a href="/posts/edit/<%= @post.id %>">Edit Post</a>


<form action='/delete/<%=@post.id%>' method="post" onSubmit="return confirm('Are you sure you want to delete your post?');">
  <input type="submit" value="Delete your post">
</form>

</div>
<% end %>
<a href="/index">Return Home</a>
<form class="post" action= '/logout' methods="get">
    <input class="submit" type="submit" value= "Sign out">
</form>